<h1>Login</h1>

<% if flash[:alert] %>
  <div class="flash-alert"><%= flash[:alert] %></div>
<% end %>

<%= form_with url: login_path, method: :post do |f| %>
  <p>
    <label for="email">Email:</label><br>
    <input type="email" name="email" id="email" required>
  </p>
  <p>
    <label for="password">Password:</label><br>
    <input type="password" name="password" id="password" required>
  </p>
  <div class="button-group">
    <input type="submit" value="Login" class="btn-danger">
    <%= link_to "Sign Up", signup_path, class: "btn btn-danger" %>
  </div>
<% end %>
